.Joke{
    display: flex;
    border-bottom: 2px solid #eeeeee;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 1rem;

}

.Joke__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin-right: 1rem;
}

.Joke__text{
    width: 75%;
    font-size: 1.2rem;
}

.Jokes-votes{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 3px solid red;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}

.fa-arrow-up,
.fa-arrow-down {
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.fa-arrow-up:hover{
    animation-name: upses;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    color: green;
}

.fa-arrow-down:hover{
    animation-name: downses;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    color: red;
}


.Joke__smile{
    font-size: 2rem;
    margin-left: auto;
    border-radius: 50%;
    box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}

.Joke__smile:hover{
animation-name: spin;
animation-duration: 0.7s;
animation-timing-function: ease-in-out;
animation-delay: 0ms;
}


/* KEYFRAMES */

@keyframes upses {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    25%,
    75% {
      transform: translateY(-3px);
    }
  }

  @keyframes downses {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    25%,
    75% {
      transform: translateY(3px);
    }
  }

  @keyframes spin {

    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(20deg);
    }
    60%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }

  }